# Repo-wide generated output
**/bin/
**/obj/
.vs/

# Flutter generated output
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/

DeserializeFGFile/DeserializeFGFile/bin
DeserializeFGFile/DeserializeFGFile/obj

.kiro

.vscode